
body {
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 background-image: url(Resim/backgroundcolor.jpeg);
 background-repeat: no-repeat;
 background-size: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #0076f1;

}

.kutu{
  margin: 100px 0 ;
  width: 600px;
  height: auto;
  padding: 20px;
  background-color: white;
  border: 2px solid #666;

}

.liste {

 margin-left: 35px;

}

.baslik {

  font-size: 24px;
  color: #3CC;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.prf {
  line-height: 2;
  text-align: justify;
}


.img {
  border: 5px solid #6CF;

}

.kutu h2 {
 font-size: 18px;
 color: #036;

}

.footer{
  text-align: center;

}

a {
  text-decoration: none;
  color: #0043d4;
  
}

a:hover {
text-decoration: underline;

}

.footerc {

  border: 2px solid #666;
  
}